// Ticket Stylings
.cover-tickets {
  .cover-ticket {
    background-color: #f7f7f7;
  }

  .envelop-background {
    padding: 8rem 6rem;

    .envelop-content {
      outline: 1rem dashed $primary;
      box-shadow: 0 0 0 1rem rgb(59, 59, 235);
      // border: 10px dashed black;
      background-clip: padding-box;
      background-repeat: no-repeat;
      justify-content: space-evenly;
      grid-template-columns: auto auto auto auto auto;
      grid-template-rows: auto auto auto auto;
      gap: 5%;
      overflow-x: auto;

      .table {
        border-collapse: collapse;
        border-spacing: 0;
        width: 100%;
        border: 1px solid #ddd;
        background-color: #fff;

        tr:nth-of-type(1) {
          background-color: #f7f7f7;
        }

        .table-content {
          padding: 8px;
          border: 1px solid #ddd;
        }

        .text-pri {
          color: $primary;
          font-weight: bold;
        }
      }
    }
  }

  .selection {
    margin: 0 auto;
    border: 1px solid #f7f7f7;
    border-radius: 2rem;
    width: max-content;
    padding: 0.2rem 1rem;
  }

  .diamond {
    color: $primary;
    font-size: 5rem;
  }

  .lunch-section {
    background-color: #fff;
    padding: 8rem 6rem;

    .menus {
      padding: 2rem;

      .menu {
        margin: 1rem;
      }

      .menu-title {
        background-color: #f7f7f7;
        padding: 1rem;
        font-size: 2rem;
        font-weight: bold;
        color: $primary;
      }

      .menu-list {
        padding: 3rem 0;
      }
    }
  }
}

// @media only screen and (min-width: 768px) {
// }
