@import url("https://fonts.googleapis.com/css2?family=Lato&family=Libre+Franklin:wght@900&family=Open+Sans&family=Poppins:wght@300;900&family=Roboto:wght@300;400&display=swap");
// Bootstrap
@import "./../node_modules/bootstrap/scss/functions";
@import "./../node_modules/bootstrap/scss/variables";
@import "./../node_modules/bootstrap/scss/mixins";
$body-bg: #d3d3d3;
$body-color: #272a31;
$primary: #ee523c;
$gray: #d3d3d3;

@import "../node_modules/bootstrap/dist/css/bootstrap.min.css";

// global resets
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

::before,
::after {
  box-sizing: inherit;
}

html,
body {
  font-size: 62.5%;
  width: 100%;
  height: 100%;
}

img {
  max-width: 100%;
  height: auto;
}

body {
  overflow-x: hidden;
}

nav {
  font-size: 1.6rem;
}

.nav-icons {
  .fa {
    color: #fff;
    font-size: 2rem;
    margin-right: 1rem;
  }
}

.nav-text {
  .lang,
  .my-page {
    margin-right: 1rem;
  }
}

.d-grid {
  display: grid;
}

.main {
  overflow-x: hidden;
  max-width: 100%;
  font-size: 1.6rem;
  background-color: $body-bg;

  .cover {
    .cover-image {
      background-image: url("./../img/black-fashion.jpg");
      background-size: cover;
      background-position: center center;
      background-attachment: scroll;
      background-repeat: no-repeat;
      box-shadow: inset 0 0 0 2000px rgba(48, 38, 131, 0.3);
      width: 100%;
      height: 68rem;
    }

    .cover-header {
      top: -60rem;
    }
  }

  .cover::after {
    content: "";
    display: table;
    clear: both;
  }

  .main-program {
    top: -24rem;
    margin-bottom: -24rem;
    background-color: $body-color;
    color: #fff;
    padding: 1rem 0;
    // position: initial;
    .main-icon {
      width: 10%;
    }
  }

  .speakers {
    // top: -24rem;
    padding: 1rem 0;
    background-color: $body-bg;

    .speakers-articles {
      .speaker-image {
        object-fit: cover;
        width: 15rem;
        height: 15rem;
      }

      .speaker-article {
        grid-template-columns: auto auto;
        gap: 5%;
      }
    }
  }

  .partners {
    // top: -24rem;
    padding: 1rem 0;
    background-color: $body-color;
    color: $gray;

    .partner-article {
      grid-template-columns: auto auto auto;
    }
  }
}

.footer {
  font-size: 1.6rem;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;

  .footer-logo {
    grid-row: 1/ 2 span;
  }
}

@media only screen and (min-width: 768px) {
  .main {
    .main-program {
      top: -16rem;
      margin-bottom: -16rem;
    }

    .speakers {
      // top: -16rem;
    }

    .partners {
      // top: -16rem;

      .partner-article {
        grid-template-columns: auto auto auto auto auto;
      }
    }
  }

  .footer {
    font-size: 1.6rem;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto;

    .footer-logo {
      grid-row: 1/ 2 span;
    }

    .footer-lang {
      grid-column: 2 / 3 span;
    }
  }
}
