@import url("https://fonts.googleapis.com/css2?family=Lato&family=Libre+Franklin:wght@900&family=Open+Sans&family=Poppins:wght@300;900&family=Roboto:wght@300;400&display=swap");

$body-bg: #d3d3d3;
$body-color: #272a31;
$primary: #ee523c;
$gray: #d3d3d3;

// global resets
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

::before,
::after {
  box-sizing: inherit;
}

html,
body {
  font-size: 62.5%;
  width: 100%;
  height: 100%;
}

img {
  max-width: 100%;
  height: auto;
}

body {
  overflow-x: hidden;
  font-family: "Lato", sans-serif;
  font-weight: 400;
}

nav {
  font-size: 1.6rem;
}

.nav-icons {
  .fa {
    color: #fff;
    font-size: 2rem;
    margin-right: 1rem;
  }
}

.nav-text {
  .lang,
  .my-page {
    margin-right: 1rem;
  }
}

.d-grid {
  display: grid;
}

.main {
  overflow-x: hidden;
  max-width: 100%;
  font-size: 1.6rem;
  background-color: $body-bg;

  .cover {
    .cover-image {
      background-image: url("./../img/back.jpg");
      background-size: cover;
      background-position: center center;
      background-attachment: scroll;
      background-repeat: no-repeat;
      box-shadow:
        inset 0 0 0 2000px
        rgba(204, 146, 142, 0.3);
      width: 100%;
      height: 68rem;
    }

    .cover-header {
      top: -60rem;
      padding: 0 2rem;

      .cover-header-subtitle {
        color: $primary;
        font-size: 2rem;
        font-weight: 700;
      }

      .cover-header-title {
        background-image: url("./../img/afro-header2.jpg");
        display: inline-block;
        -webkit-background-clip: text;
        color: transparent;
        font-family: "Libre Franklin", sans-serif;
        font-size: 4rem;
        font-weight: 900;
        text-transform: uppercase;
      }

      .cover-header-paragraph {
        background-color: $body-bg;
        color: #000;
        padding: 2rem;
        border: 2px solid #fff;
        opacity: 0.9;
      }

      .cover-header-h3 {
        color: rgb(44, 42, 42);
        font-size: 2rem;
        font-weight: bold;
      }

      .cover-header-last {
        font-size: 1.3rem;
        color: rgb(44, 42, 42);
        font-weight: bold;
      }
    }
  }

  .main-program {
    top: -50rem;
    margin-bottom: -50rem;
    color: #fff;
    padding: 1rem 2rem;
    background-color: #000;

    .main-program-header {
      padding: 2rem;
    }

    .main-program-header::before {
      content: "";
      position: absolute;
      width: 10%;
      height: 1px;
      bottom: 92%;
      left: 45%;
      border-bottom: 1px solid $primary;
    }

    .lecture {
      grid-template-columns: 10% 20% 60%;
      gap: 5%;
      background-color: rgb(44, 42, 42);
      padding: 1.5rem;
      margin-bottom: 1rem;
      opacity: 0.6;

      .main-icon {
        margin-top: 2rem;
        width: 100%;
        filter:
          invert(100%) sepia(0%) saturate(7500%)
          hue-rotate(357deg) brightness(108%) contrast(106%);
      }

      .main-h4 {
        color: $primary;
        font-weight: bold;
        margin-top: 2rem;
      }
    }

    .join {
      background-color: $primary;
      width: max-content;
      padding: 4rem 3rem;
      font-size: 2rem;
      font-weight: bold;
      margin: 5rem 2rem;
      word-spacing: 1rem;
    }
  }

  .speakers {
    // top: -24rem;
    padding: 1rem 2rem;
    background-color: #f8f8f8;

    .main-program-header {
      padding: 2rem;
    }

    .main-program-header::before {
      content: "";
      position: absolute;
      width: 10%;
      height: 1px;
      bottom: 96%;
      left: 45%;
      border-bottom: 1px solid $primary;
    }

    .speakers-articles {
      .matrix {
        object-fit: cover;
        width: 15rem;
        height: 15rem;
      }

      .speaker-image {
        object-fit: cover;
        width: 20rem;
        height: 20rem;
        position: relative;
        top: -12rem;
        left: 2rem;
        margin-bottom: -12rem;
        margin-right: 2rem;
      }

      .speaker-article {
        grid-template-columns: 40% 50%;
        gap: 5%;

        .speaker-content {
          margin-left: 2rem;

          p:nth-of-type(1) {
            color: $primary;
          }

          .content-h2 {
            font-size: 2.4rem;
            font-weight: bolder;
          }
        }
      }
    }
  }

  .partners {
    // top: -24rem;
    padding: 2rem 2rem 3.5rem 2rem;
    background-color: #414246;
    color: $gray;

    .main-program-header {
      padding: 2rem;

      .main-h2 {
        font-size: 2.8rem;
        text-decoration: underline $primary;
        text-underline-position: under;
      }
    }

    .partner-article {
      justify-content: space-evenly;
      font-size: 3.4rem;
      grid-template-columns: auto auto auto;

      .partner-mozilla {
        font-weight: bold;
      }

      .partner-google {
        font-weight: lighter;
        padding-right: 1rem;
      }

      .partner-naver {
        font-weight: bolder;
      }

      .partner-airbnb {
        padding-left: 1rem;

        .airbnb {
          width: 3.2rem;
          filter: invert(100%) sepia(3%) saturate(7500%) hue-rotate(238deg) brightness(115%) contrast(100%);
        }
      }
    }
  }
}

.footer {
  background-color: #f8f8f8;
  padding: 2rem;
  font-size: 1.6rem;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;

  .footer-logo {
    grid-row: 1/ 2 span;
    padding-right: 2rem;
    font-size: 3rem;
    font-weight: 700;
    background-image: url('./../img/gold.jpg');
    -webkit-background-clip: text;
    display: inline-block;
    color: transparent;
  }
}

@media only screen and (min-width: 768px) {
  .main {
    .main-program {
      top: -32rem;
      margin-bottom: -32rem;
      padding: 10rem;

      .main-program-header::before {
        bottom: 81%;
      }

      .program-content {
        grid-template-columns: auto auto auto auto auto;
        margin: 0 5rem;

        .lecture {
          grid-template-columns: auto;
          grid-template-rows: auto auto auto;
          margin-right: 1rem;

          .main-icon {
            width: 30%;
          }
        }
      }
    }

    .speakers {
      // top: -16rem;
      padding: 10rem;

      .main-program-header::before {
        bottom: 87%;
      }
    }

    .partners {
      // top: -16rem;

      .partner-article {
        grid-template-columns: auto auto auto auto auto;
      }
    }
  }

  .footer {
    font-size: 1.6rem;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto;

    .footer-logo {
      grid-row: 1/ 2 span;
      font-size: 5rem;
    }

    .footer-lang {
      grid-column: 2 / 3 span;
    }
  }
}

// ticket styling
@import './ticket';
