@import url("https://fonts.googleapis.com/css2?family=Lato&family=Libre+Franklin:wght@900&family=Open+Sans&family=Poppins:wght@300;900&family=Roboto:wght@300;400&display=swap");
@import "../node_modules/bootstrap/dist/css/bootstrap.min.css";
@import "./../node_modules/bootstrap/scss/functions";
@import "./../node_modules/bootstrap/scss/variables";
@import "./../node_modules/bootstrap/scss/mixins";

$body-bg: #d3d3d3;
$body-color: #272a31;
$primary: #ee523c;
$gray: #d3d3d3;

// global resets
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

::before,
::after {
  box-sizing: inherit;
}

html,
body {
  font-size: 62.5%;
  width: 100%;
  height: 100%;
}

img {
  max-width: 100%;
  height: auto;
}

body {
  overflow-x: hidden;
}

nav {
  font-size: 1.6rem;
}

.nav-icons {
  .fa {
    color: #fff;
    font-size: 2rem;
    margin-right: 1rem;
  }
}

.nav-text {
  .lang,
  .my-page {
    margin-right: 1rem;
  }
}
